:root {
  --color-blue: rgba(33, 150, 243, 1);
  --color-black: rgba(0, 0, 0, 1);
  --color-white: rgba(255, 255, 255, 1);
  --color-dark-grey: rgba(33, 33, 33, 1);
  --color-light-grey: rgba(117, 117, 117, 1);
  --color-lighter-grey: rgba(255, 255, 255, 0.6);
  --background-color: rgba(47, 48, 58, 1);
}
li {
  list-style: none;
}
body {
  font-family: 'Roboto';
  color: var(--color-dark-grey);
}
p {
  color: var(--color-light-grey);
}
.logo {
  font-family: 'Raleway';
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--color-blue);
}
.header-logo {
  color: var(--color-black);
}
.footer-logo {
  color: var(--color-white);
}
.header__nav-items {
  color: var(--color-dark-grey);
}
.header__nav-items .header__nav-links {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.header__nav-links {
  color: var(--color-light-grey);
}
.header__nav-items .team__member {
  color: var(--color-dark-grey);
}
.footer_nav {
  font-style: normal;
  color: var(--color-lighter-grey);
}
.mail {
  text-decoration: underline;
}
a {
  text-decoration: none;
}
.header__nav-items:hover,
.header__nav-items:focus,
.header__nav-links:hover,
.header__nav-links:focus,
.footer__nav-address:hover,
.footer__nav-address:focus,
.footer__nav-links:hover,
.footer__nav-links:focus {
  color: var(--color-blue);
}
a:active {
  color: var(--color-blue);
}
button:hover,
button:focus {
  color: var(--color-white);
  background-color: var(--color-blue);
  border-color: var(--color-blue);
}
button {
  cursor: pointer;
}
.button__main-page,
.button__portfolio {
  font-size: 16px;
  border-radius: 4px;
  text-align: center;
  align-items: center;
}
.button__portfolio {
  line-height: 26px;
  letter-spacing: 0.03em;
  color: var(--color-dark-grey);
  background: rgba(245, 244, 250, 1);
}
.button__main-page {
  color: var(--color-white);
  border-color: var(--color-blue);
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  line-height: 30px;
  letter-spacing: 0.06em;
}
h1 {
  color: var(--color-white);
  text-transform: uppercase;
  text-align: center;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
}
.background {
  background-color: var(--background-color);
}
.headline,
.headline-items,
.footer__nav {
  font-size: 14px;
  letter-spacing: 0.03em;
}
h1,
.button__main-page,
h2,
.body__cards,
.logo {
  font-weight: 700;
}
.headline {
  line-height: 16px;
  text-transform: uppercase;
}
.headline-items .body__cards-items {
  line-height: 24px;
}
h2 {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}
.team__member,
.team__member-position {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
}
.header__nav-items,
.header__nav-links,
.team__member,
.button__portfolio,
.header__nav-items .header__nav-links {
  font-weight: 500;
}
.team__member-position,
.footer__nav,
.headline-items,
.body__cards-items {
  font-weight: 400;
}
.body__cards {
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}
.body__cards-items {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
}
.footer__nav {
  line-height: 24px;
}
.footer__nav-address {
  color: var(--color-white);
}
.footer__nav-links {
  color: var(--color-lighter-grey);
}
img-service {
  width: 370;
  height: 294;
}
.img-members {
  width: 270;
  height: 260;
}
.img-cards {
  width: 370;
  height: 294;
}
